<%inherit file="/homepage/templates/base.htm" />

<%block name="header">
    <div class="header">

    </div>
</%block>



<%block name="content">
    <div class="content">
      <h2 class="manage">Late Rentals Batch Process</h2>
      <div class="text-right">
      </div>
      <br>
      <table id="users_table" class="table table-striped table-bordered">
          <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Is Rented</th>
        </tr>
          %for item in items:
            <tr>
              <td>${ item.id } </td>
              <td>${ item.name } </td>
              <td> No </td>
            </tr>
          %endfor
      </table>

</%block>

<%block name="footer">
    <div class="footer">
    </div>
</%block>
