<%inherit file="/homepage/templates/base.htm" />
<%! import homepage.models as hmod %>

<%block name="content">
    <div class="content">
    <table class="table table-striped table-bordered"
    <tr>
    
    </tr>
       <% total_price = 0 %>
      %if shopping_cart0:
        %for item in shopping_cart0:
          <% qty = shopping_cart0.get(item) %>
          <% product = hmod.Product.objects.get(id=item) %>
          <% total_price += product.current_price * qty %>
        %endfor
      %endif
      %if shopping_cart1:
        %for item in shopping_cart1:
          <% qty = shopping_cart1.get(item) %>
          <% product = hmod.Item.objects.get(id=item) %>
          <% total_price += product.standard_rental_price * qty %>
        %endfor
      %endif
      </table>
      <div class="row">
        <div class="col-md-9" align="center">
          <h3>Thank you for making a purchase.  Your payment of ${ total_price } will be processed shortly.<h3>
          <a href="/homepage/index/" align="center" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
</%block>
