<%inherit file="/homepage/templates/base.htm" />

<%block name="header">
    <div class="header">

    </div>
</%block>



<%block name="content">
     <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Events</h1>
      </div>
    </div>
    %for event in events:
      <div class=" thumb-container">
        <h2>${ event.name }</h2>
        <a href="/events/event.details/${ event.id }/" >
          <img class="thumbnail" src="${ STATIC_URL }events/media/events/${ event.id }.jpg"/>
        </a>
      </div>

    %endfor
  </div>
      </table>

</%block>

<%block name="footer">
    <div class="footer">
    </div>
</%block>
