<%inherit file="/homepage/templates/base.htm" />

<%block name="header">
    <div class="header">

    </div>
</%block>

<%block name="left">
    <div class="left-menu">
    	<h2 class="managenav">Manage</h2>
    	<ul>
    		<li class="menu-nav"><a href="event">Events</a></li>
        <li class="menu-nav"><a href="inventory">Inventory</a></li>
        <li class="menu-nav"><a href="area">Areas</a></li>
        <li class="menu-nav"><a href="users">Users</a></li>
        <li class="menu-nav"><a href="MyAccount">My Account</a></li>
    	</ul>
    </div>
</%block>

<%block name="content">
    <div class="content">
        <h2 class="manage">Event Area Management</h2>
      
      <button type="button" class="btn btn-primary right">Create New Area</button>
      <h3>Colonial Heritage Festival</h3>
      <table class="table table-hover bottom-buffer">
          <tr>
            <th>Name</th>
            <th>Description</th> 
            <th>Place Number</th>
            <th> &nbsp;&nbsp;Maintenace</th>
          </tr>
          <tr>
            <td>Black Smith</td>
            <td>Location where they build horse shoes, swords, and other metal goods</td> 
            <td>1</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Baker</td>
            <td>Location where colonial baked goods are made</td> 
            <td>4</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Cooper</td>
            <td>Location where colonial shoe making demonstrations happen</td> 
            <td>7</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Jailhouse</td>
            <td>Location where colonial replica of a jailhouse</td> 
            <td>3</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
      </table>
      <h3>Memorial Day Festival</h3>
      <table class="table table-hover bottom-buffer">
          <tr>
            <th>Name</th>
            <th>Description</th> 
            <th>Place Number</th>
            <th> &nbsp;&nbsp;Maintenace</th>
          </tr>
          <tr>
            <td>Black Smith</td>
            <td>Location where they build horse shoes, swords, and other metal goods</td> 
            <td>1</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Baker</td>
            <td>Location where colonial baked goods are made</td> 
            <td>2</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Cooper</td>
            <td>Location where colonial shoe making demonstrations happen</td> 
            <td>3</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Mayflower</td>
            <td>Full size Mayflower Replica on Display</td> 
            <td>5</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
      </table>
      <h3>Veterans Day Festival</h3>
      <table class="table table-hover bottom-buffer">
          <tr>
            <th>Name</th>
            <th>Description</th> 
            <th>Place Number</th>
            <th> &nbsp;&nbsp;Maintenace</th>
          </tr>
          <tr>
            <td>Black Smith</td>
            <td>Location where they build horse shoes, swords, and other metal goods</td> 
            <td>3</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Baker</td>
            <td>Location where colonial baked goods are made</td> 
            <td>4</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
         <tr>
            <td>Cooper</td>
            <td>Location where colonial shoe making demonstrations happen</td> 
            <td>1</td>
            <td><a href="" class="details">Show Details</a>&nbsp; <a href="" class="edit">Edit</a>&nbsp; <a href="" class="delete">Delete</a></td>
         </tr>
      </table>

</%block>

<%block name="footer">
    <div class="footer">
    </div>
</%block>