<%inherit file="base.htm" />

<%block name="header">
    <div class="header">

    </div>
</%block>

<%block name="left">
    <div class="left">

    </div>
</%block>

<%block name="content">
    <div class="content">
      
      <div class="signup">
      <div class="input-group">
      <h2 class="form-title">Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="signup" class="formnum">1</a>&nbsp;<span class="active"> <a href="signup2" class="formnum">2</a> </span>&nbsp;<a href="signup3" class="formnum">3</a></h2>
      <form action="signup3">
      	<input type="text" class="form-control signupform" placeholder="Address 1" aria-describedby="basic-addon1">
      	<input type="text" class="form-control signupform" placeholder="Address 2" aria-describedby="basic-addon1">
        <input type="text" class="form-control signupform" placeholder="City" aria-describedby="basic-addon1">
        <input type="text" class="form-control signupform" placeholder="Zip" aria-describedby="basic-addon1">
        <input type="text" class="form-control signupform" placeholder="Country" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-default loginbutton">Next</button>
      </form>
    </div>
    </div>


    </div>
</%block>

<%block name="footer">
    <div class="footer">
    </div>
</%block>
