<%inherit file="base.htm" />

<%block name="header">
    <div class="header">

    </div>
</%block>

<%block name="left">
    <div class="left">
    </div>
</%block>

<%block name="content">
    <div class="content">
      
      <div class="signup">
      <div class="input-group">
      <h2 class="form-title">Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="active"> <a href="signup" class="formnum">1</a> </span>&nbsp;<a href="signup2" class="formnum">2</a>&nbsp; <a href="signup3" class="formnum">3</a></h2>
      <form action="signup2">
      	<input type="text" class="form-control signupform" placeholder="First Name" aria-describedby="basic-addon1">
      	<input type="text" class="form-control signupform" placeholder="Last Name" aria-describedby="basic-addon1">
        <input type="text" class="form-control signupform" placeholder="Email Address" aria-describedby="basic-addon1">
        <input type="password" class="form-control signupform" placeholder="Password" aria-describedby="basic-addon1">
        <input type="password" class="form-control signupform" placeholder="Confirm Password" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-default loginbutton">Next</button>
      </form>
    </div>
    </div>


    </div>
</%block>

<%block name="footer">
    <div class="footer">
    </div>
</%block>
